In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as py

# SOAL 2.1

In [22]:
df = pd.read_csv(
    'profesi.csv', 
    delimiter='|'
)
df = pd.DataFrame(df)
df


val = df['occupation'].value_counts()
val
uniq = df['occupation'].unique()
uniq

occup = df['occupation'].value_counts()
print(len(occup))
print(occup.index.tolist())

21
['student', 'other', 'educator', 'administrator', 'engineer', 'programmer', 'librarian', 'writer', 'executive', 'scientist', 'artist', 'technician', 'marketing', 'entertainment', 'healthcare', 'retired', 'salesman', 'lawyer', 'none', 'doctor', 'homemaker']

# SOAL 2.2

In [24]:
grupDF = df.groupby([df['occupation'],df['gender']]).describe()
grupDF

                     user_id                                                \
                       count        mean         std    min     25%    50%
occupation    gender
administrator F         36.0  443.944444  284.320538   34.0  178.50  438.5
              M         43.0  420.069767  281.650780    7.0  190.50  394.0
artist        F         13.0  432.153846  345.109607   23.0  123.00  410.0
              M         15.0  469.000000  313.686604   31.0  175.50  433.0
doctor        M          7.0  533.714286  330.491913  138.0  275.00  427.0
educator      F         26.0  454.730769  267.531315   15.0  215.00  467.5
              M         69.0  471.492754  245.985331   13.0  295.00  486.0
engineer      F          2.0  806.500000   28.991378  786.0  796.25  806.5
              M         65.0  445.553846  258.156144   25.0  247.00  435.0
entertainment F          2.0  780.000000   83.438600  721.0  750.50  780.0
              M         16.0  350.250000  277.213877   16.0  131.75  353.0
executive     F          3.0  373.000000  402.515838   98.0  142.00  186.0
              M         29.0  427.413793  282.264126    6.0  213.00  357.0
healthcare    F         11.0  568.454545  187.513927  170.0  434.00  630.0
              M          5.0  354.000000  359.121149   60.0  116.00  164.0
homemaker     F          6.0  367.166667  307.598710   20.0  115.25  359.0
              M          1.0  898.000000         NaN  898.0  898.00  898.0
lawyer        F          2.0  285.000000  224.859956  126.0  205.50  285.0
              M         10.0  373.900000  265.498044   10.0  172.00  352.0
librarian     F         29.0  449.137931  278.960663   27.0  229.00  345.0
              M         22.0  535.954545  290.610274   19.0  256.75  598.0
marketing     F         10.0  443.300000  308.458551   46.0  134.00  511.0
              M         16.0  434.375000  277.809497   47.0  198.25  469.5
none          F          4.0  521.750000  226.974852  256.0  377.50  537.5
              M          5.0  246.200000  229.733977   57.0  127.00  130.0
other         F         36.0  474.666667  308.904608    2.0  168.00  482.5
              M         69.0  578.246377  250.516549   83.0  398.00  635.0
programmer    F          6.0  411.166667  149.987222  292.0  313.00  378.0
              M         60.0  437.966667  272.544443   17.0  180.75  472.5
retired       F          1.0  860.000000         NaN  860.0  860.00  860.0
              M         13.0  489.230769  222.579631  106.0  318.00  481.0
salesman      F          3.0  637.666667  251.573714  457.0  494.00  531.0
              M          9.0  447.333333  248.139074  112.0  287.00  386.0
scientist     F          3.0  611.666667  391.162796  175.0  452.50  730.0
              M         28.0  449.428571  293.114366   14.0  192.00  456.5
student       F         60.0  497.533333  266.756822   32.0  268.00  489.0
              M        136.0  479.404412  259.856353    9.0  289.75  471.5
technician    F          1.0  938.000000         NaN  938.0  938.00  938.0
              M         26.0  480.692308  291.486366    1.0  256.50  473.0
writer        F         19.0  536.052632  201.720784  122.0  440.50  518.0
              M         26.0  466.230769  309.999266    3.0  199.50  454.5

                                       age                                     \
                         75%    max  count       mean        std   min    25%
occupation    gender
administrator F       695.00  922.0   36.0  40.638889  10.602298  22.0  33.00
              M       707.00  940.0   43.0  37.162791  11.422472  21.0  28.00
artist        F       782.00  920.0   13.0  30.307692   9.542751  19.0  21.00
              M       824.50  865.0   15.0  32.333333   8.050436  20.0  26.00
doctor        M       843.00  935.0    7.0  43.571429  12.501428  28.0  35.50
educator      F       704.00  909.0   26.0  39.115385   9.003674  23.0  31.50
              M       636.00  937.0   69.0  43.101449  10.755498  25.0  33.00
engineer      F       816.75  827.0    2.0  29.500000   9.192388  23.0  26.25
              M       638.00  934.0   65.0  36.600000  11.246944  22.0  28.00
entertainment F       809.50  839.0    2.0  31.000000   9.899495  24.0  27.50
              M       436.00  926.0   16.0  29.000000  10.373042  15.0  22.75
executive     F       510.50  835.0    3.0  44.000000   5.000000  39.0  41.50
              M       723.00  901.0   29.0  38.172414  10.931831  22.0  31.00
healthcare    F       690.00  807.0   11.0  39.818182  10.870310  22.0  30.00
              M       520.00  910.0    5.0  45.400000  12.561847  28.0  40.00
homemaker     F       621.50  722.0    6.0  34.166667  10.815113  20.0  27.50
              M       898.00  898.0    1.0  23.000000        NaN  23.0  23.00
lawyer        F       364.50  444.0    2.0  39.500000  16.263456  28.0  33.75
              M       546.50  846.0   10.0  36.200000  10.580905  21.0  29.25
librarian     F       701.00  942.0   29.0  40.000000  10.776960  26.0  30.00
              M       807.50  906.0   22.0  40.000000  11.596387  23.0  30.50
marketing     F       664.00  856.0   10.0  37.200000   7.728734  24.0  35.25
              M       617.25  881.0   16.0  37.875000  10.657548  24.0  30.00
none          F       681.75  756.0    4.0  36.500000  12.871156  26.0  29.00
              M       289.00  628.0    5.0  18.600000   8.734987  11.0  13.00
other         F       738.25  914.0   36.0  35.472222  10.313614  18.0  27.00
              M       814.00  936.0   69.0  34.028986  10.994612  13.0  26.00
programmer    F       416.75  698.0    6.0  32.166667   5.115336  26.0  28.25
              M       663.50  927.0   60.0  33.216667   9.986587  20.0  26.75
retired       F       860.00  860.0    1.0  70.000000        NaN  70.0  70.00
              M       644.00  900.0   13.0  62.538462   5.621616  51.0  60.00
salesman      F       728.00  925.0    3.0  27.000000   7.937254  18.0  24.00
              M       690.00  808.0    9.0  38.555556  14.808031  21.0  30.00
scientist     F       830.00  930.0    3.0  28.333333   2.516611  26.0  27.00
              M       630.25  929.0   28.0  36.321429   7.338652  23.0  31.75
student       F       706.50  939.0   60.0  20.750000   5.017343  13.0  18.00
              M       707.00  943.0  136.0  22.669118   5.309747   7.0  19.00
technician    F       938.00  938.0    1.0  38.000000        NaN  38.0  38.00
              M       733.00  889.0   26.0  32.961538  10.013913  21.0  24.00
writer        F       644.00  911.0   19.0  37.631579  10.409454  18.0  31.00
              M       765.25  896.0   26.0  35.346154  12.221104  21.0  25.25


                       50%    75%   max
occupation    gender
administrator F       38.5  49.25  62.0
              M       35.0  46.50  70.0
artist        F       30.0  36.00  48.0
              M       32.0  39.00  45.0
doctor        M       45.0  48.50  64.0
educator      F       40.5  48.75  51.0
              M       44.0  51.00  63.0
engineer      F       29.5  32.75  36.0
              M       36.0  43.00  70.0
entertainment F       31.0  34.50  38.0
              M       25.0  33.00  50.0
executive     F       44.0  46.50  49.0
              M       36.0  46.00  69.0
healthcare    F       43.0  48.50  53.0
              M       47.0  50.00  62.0
homemaker     F       33.5  40.25  50.0
              M       23.0  23.00  23.0
lawyer        F       39.5  45.25  51.0
              M       34.0  44.50  53.0
librarian     F       39.0  51.00  59.0
              M       38.5  47.50  69.0
marketing     F       36.5  42.25  50.0
              M       34.5  44.00  55.0
none          F       32.5  40.00  55.0
              M       16.0  20.00  33.0
other         F       34.0  44.00  55.0
              M       32.0  41.00  64.0
programmer    F       32.0  36.50  38.0
              M       30.0  38.50  63.0
retired       F       70.0  70.00  70.0
              M       61.0  65.00  73.0
salesman      F       30.0  31.50  33.0
              M       35.0  45.00  66.0
scientist     F       28.0  29.50  31.0
              M       38.0  40.25  55.0
student       F       20.0  23.00  38.0
              M       22.0  25.25  42.0
technician    F       38.0  38.00  38.0
              M       30.0  40.25  55.0
writer        F       40.0  44.00  56.0
              M       31.0  48.75  60.0

In [29]:
dataJadi = grupDF['age'][['max','min','mean']]
dataJadi

                       max   min       mean
occupation    gender
administrator F       62.0  22.0  40.638889
              M       70.0  21.0  37.162791
artist        F       48.0  19.0  30.307692
              M       45.0  20.0  32.333333
doctor        M       64.0  28.0  43.571429
educator      F       51.0  23.0  39.115385
              M       63.0  25.0  43.101449
engineer      F       36.0  23.0  29.500000
              M       70.0  22.0  36.600000
entertainment F       38.0  24.0  31.000000
              M       50.0  15.0  29.000000
executive     F       49.0  39.0  44.000000
              M       69.0  22.0  38.172414
healthcare    F       53.0  22.0  39.818182
              M       62.0  28.0  45.400000
homemaker     F       50.0  20.0  34.166667
              M       23.0  23.0  23.000000
lawyer        F       51.0  28.0  39.500000
              M       53.0  21.0  36.200000
librarian     F       59.0  26.0  40.000000
              M       69.0  23.0  40.000000
marketing     F       50.0  24.0  37.200000
              M       55.0  24.0  37.875000
none          F       55.0  26.0  36.500000
              M       33.0  11.0  18.600000
other         F       55.0  18.0  35.472222
              M       64.0  13.0  34.028986
programmer    F       38.0  26.0  32.166667
              M       63.0  20.0  33.216667
retired       F       70.0  70.0  70.000000
              M       73.0  51.0  62.538462
salesman      F       33.0  18.0  27.000000
              M       66.0  21.0  38.555556
scientist     F       31.0  26.0  28.333333
              M       55.0  23.0  36.321429
student       F       38.0  13.0  20.750000
              M       42.0   7.0  22.669118
technician    F       38.0  38.0  38.000000
              M       55.0  21.0  32.961538
writer        F       56.0  18.0  37.631579
              M       60.0  21.0  35.346154

In [30]:
dataJadi.rename(columns={'max':'max_usia','min':'min_usia','mean':'rerata_usia'},inplace=True)
dataJadi

                      max_usia  min_usia  rerata_usia
occupation    gender
administrator F           62.0      22.0    40.638889
              M           70.0      21.0    37.162791
artist        F           48.0      19.0    30.307692
              M           45.0      20.0    32.333333
doctor        M           64.0      28.0    43.571429
educator      F           51.0      23.0    39.115385
              M           63.0      25.0    43.101449
engineer      F           36.0      23.0    29.500000
              M           70.0      22.0    36.600000
entertainment F           38.0      24.0    31.000000
              M           50.0      15.0    29.000000
executive     F           49.0      39.0    44.000000
              M           69.0      22.0    38.172414
healthcare    F           53.0      22.0    39.818182
              M           62.0      28.0    45.400000
homemaker     F           50.0      20.0    34.166667
              M           23.0      23.0    23.000000
lawyer        F           51.0      28.0    39.500000
              M           53.0      21.0    36.200000
librarian     F           59.0      26.0    40.000000
              M           69.0      23.0    40.000000
marketing     F           50.0      24.0    37.200000
              M           55.0      24.0    37.875000
none          F           55.0      26.0    36.500000
              M           33.0      11.0    18.600000
other         F           55.0      18.0    35.472222
              M           64.0      13.0    34.028986
programmer    F           38.0      26.0    32.166667
              M           63.0      20.0    33.216667
retired       F           70.0      70.0    70.000000
              M           73.0      51.0    62.538462
salesman      F           33.0      18.0    27.000000
              M           66.0      21.0    38.555556
scientist     F           31.0      26.0    28.333333
              M           55.0      23.0    36.321429
student       F           38.0      13.0    20.750000
              M           42.0       7.0    22.669118
technician    F           38.0      38.0    38.000000
              M           55.0      21.0    32.961538
writer        F           56.0      18.0    37.631579
              M           60.0      21.0    35.346154

# SOAL 2.3

In [31]:
gender = pd.crosstab(df.occupation, df.gender).apply(lambda i: i/i.sum(), axis= 1) *100
gender['%total'] = gender['F']+gender['M']
gender.rename(columns={'F':'%female','M':'%male'},inplace=True)
gender = gender[['%male','%female','%total']]
gender

gender              %male    %female  %total
occupation
administrator   54.430380  45.569620   100.0
artist          53.571429  46.428571   100.0
doctor         100.000000   0.000000   100.0
educator        72.631579  27.368421   100.0
engineer        97.014925   2.985075   100.0
entertainment   88.888889  11.111111   100.0
executive       90.625000   9.375000   100.0
healthcare      31.250000  68.750000   100.0
homemaker       14.285714  85.714286   100.0
lawyer          83.333333  16.666667   100.0
librarian       43.137255  56.862745   100.0
marketing       61.538462  38.461538   100.0
none            55.555556  44.444444   100.0
other           65.714286  34.285714   100.0
programmer      90.909091   9.090909   100.0
retired         92.857143   7.142857   100.0
salesman        75.000000  25.000000   100.0
scientist       90.322581   9.677419   100.0
student         69.387755  30.612245   100.0
technician      96.296296   3.703704   100.0
writer          57.777778  42.222222   100.0